.odd-number {
    background-color: lightpink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#number-two {
    color: blue;
    font-size: 36px;
}

.number3 {
    font-size: 24px;
}

#number-four {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}